/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------------------------------------------- */
/* HOMEPAGE */
/* HEADER */

header {
    background: #72a2fc;
    color: #fff;
    font-size: 14px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 100%;


}

header .menu li {
    margin: 0 20px;
}

header .menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header .menu a:hover {
    color: #2455af;
    text-decoration: underline;
}

/* ----------------------------------------------------------------------------------------- */
/* MAIN */


/* Jumbo - Overlay */
.jumbo {
    position: relative;
    background-image: url(../img/poetto-jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
}

.jumbo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    /* Overlay semi-trasparente */
    z-index: 1;
}

.jumbo .container {
    position: relative;
    z-index: 2;
    /* Porta il contenuto sopra l'overlay */
}

/* Contenuto principale */
.content-main {
    color: white;
}

.content-main .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #72a2fc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.content-main .button:hover {
    background: #4a8dff;
    transform: scale(1.1);
}

/* Stile per il logo */
.logo {
    width: 90px;
}


/* Card */
.card {
    border: none;
    border-radius: 10px;
    /* Rendi gli angoli delle card arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Aggiungi un'ombra leggera */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
    min-height: 190px;
    padding: 20px;
    /* Aggiungi padding per dare respiro al contenuto */
    background: #f1f1f1;
    /* Colore di sfondo più neutro per il testo */

}

.card:hover {
    transform: translateY(-10px);
    /* Solleva leggermente la card al passaggio del mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Aumenta l'ombra al passaggio del mouse */
}

.carousel-item {
    transition: transform 1s ease-in-out;
}



/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------- */
/* ABOUT */

/* .content-history-right {
    background: #7ca2fc;
    height: 100%;
} */


.bg-light {
    margin: 70px 0 25px 0;
}


/* --------------------------------------------------- */
/* EVENTS */